<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ChapeauDatabase" connectionString="Data Source=den1.mssql7.gear.host; Initial Catalog=chapeau1819sdb09; User=chapeau1819sdb09; Password=Pv81?_K94UZ5" />
    <add name="ChapeauUI.Properties.Settings.chapeau1819sdb09ConnectionString"
      connectionString="Data Source=den1.mssql7.gear.host; Initial Catalog=chapeau1819sdb09; Persist Security Info=True; User ID=chapeau1819sdb09; Password=Pv81?_K94UZ5"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>